
.course {
    border-radius:20px;
    background-color:#f1f5fe ;

    p {
        margin: 0;
    }
    img {
        margin-right:10px;
        border-radius:10px;
    }
}

.content {
    width: 100%;

    .progressbar {
        width: 100%;
    }
}