@import "../../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: $text-active;
  }
  input {
    outline: none;
    border: 1px solid $icon-color;
    transition: 0.3s ease-in-out;
    color: $text-active;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 35px;

    &:focus {
      border: 1px solid $light-hover;
    }
  }
}
