@import "src/constants/scss/colors";
.wrapper {
  margin-top: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  .container {
    display: flex;
    justify-content: left;
    align-items: center;
    div {
      margin-right: 40px;
    }
  }
  svg {
    cursor: pointer;
    path {
      transition: 0.4s ease-in-out;
      fill: $text-color;
    }
    &:hover {
      transition: 0.4s ease-in-out;
      path {
        fill: $primary-color;
      }
    }
  }
  .like_div > svg {
    width: 25px;
    height: 25px;
  }
  .comment_div > svg {
    width: 25px;
    height: 25px;
  }
}

.liked > svg {
  cursor: pointer;
  path {
    fill: $primary-color;
    transition: 0.4s ease-in-out;
  }
  &:hover {
    transition: 0.4s ease-in-out;
    path {
      fill: $text-color;
    }
  }
}
