@import "/src/constants/scss/colors";

.wrapper {
  background: #00a5e0;
  margin-bottom: 50px;
  .container {
    padding: 10px 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      a {
        font-size: 16px;
        color: $container-color;
        text-decoration: none;
        transition: 0.3s ease-in-out;
      }
      li {
        transition: 0.2s ease-in-out;
        user-select: none;
      }
    }

    .navbar_items > li {
      padding-right: 15px;

      a:hover {
        color: darken($container-color, 10%);
      }
    }

    .active_buttons {
      a {
        padding: 8px 12px;
        margin-left: 10px;
        border-radius: 8px;
      }
      .auth {
        border: 2px solid $container-color;
        &:hover {
          background: $container-color;
          li {
            color: $primary-color;
          }
        }
        li {
          color: $container-color;
        }
      }
      .signup {
        border: 2px solid $container-color;
        background: $container-color;
        &:hover {
          border: 2px solid $container-color;
          background: transparent;
          li {
            color: $container-color;
          }
        }
        li {
          color: $primary-color;
        }
      }
    }
  }
}

.dropdown_menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  .dropdown_content {
    border-radius: 5px;
    position: absolute;
    top: 50px;
    transition: 0.3s ease-in-out;
    background: $container-color;
    min-width: 150px;
    z-index: 1;

    a {
      color: $text-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    button {
      background: transparent;
      outline: none;
      width: 100%;
      padding: 12px 16px;
      font-size: 16px;
      border: none;
      color: $text-color;
      text-align: left;
      cursor: pointer;
    }

    a,
    button {
      transition: 0.3s ease-in-out;
      user-select: none;
    }

    a:hover,
    button:hover {
      color: $primary-color;
    }
  }
}
