$text-darken: #111;
$text-active: #333;
$text-noactive: #777;
$light-hover: #82b3d9;
$hover-active: #4d80aa;
$text-color: #909090;
$icon-color: #929ca5;
$success: #579311;
$darken-hover: #487284;
$border-color: #d5dddf;
$background-color: #fff;
$button-color: #558cb7;
$button-hover: #376f9a;
$category-color: #5e6973;
